@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea {
  @apply border-2 border-gray-400 rounded-md px-1 w-full;
  @apply mb-2;
}

input:focus,
textarea:focus {
  @apply border-green-900 border-2 outline-none;
}

h1 {
  @apply text-green-950 mb-2 text-xl;
}

label {
  @apply text-green-950;
}

.btn-primary {
  @apply bg-green-900 text-white px-4 py-1 rounded-md;
}

table.basic {
  @apply w-full;
}

table.basic thead tr td {
  @apply bg-green-700 text-white;
}

table.basic tr td {
  @apply border p-1 border-gray-400;
}

table.basic a {
  @apply bg-green-800 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1;

  min-width: 110px;
}

.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-md;
}

.btn-red {
  @apply bg-red-800 text-white;
}

.btn-default {
  @apply bg-gray-400 text-white;
}

.top {
  top: -5%;
}
