@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply border border-gray-300 rounded-sm px-2 py-1 w-full;
  @apply mb-2;
}

textarea {
  min-height: 180px;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-green-900 border-2 outline-none;
}

h1 {
  @apply text-gray-950 mb-4 text-xl;
}

label {
  @apply text-gray-600 mt-2 text-sm py-1;
}

.btn-primary {
  @apply bg-gray-500 text-white px-4 py-1 rounded-md shadow-md;
}

table.basic {
  @apply w-full rounded-sm shadow-green bg-white;
}

table.basic thead tr td {
  @apply text-gray-700 text-base p-2 uppercase border-b border-primary bg-highlight;
}

table.basic tr td {
  @apply px-2 py-1;
}

table.basic td {
  @apply p-1;
}

table.basic a {
  @apply text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 m-1 float-right justify-center;

  min-width: 110px;
}

.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-md;
}

.btn-red {
  @apply bg-deleteLight text-white;
}

.btn-default {
  @apply bg-gray-500 text-white;
}

.top {
  top: -100%;
}

.show:hover {
  button {
    top: 0;
  }
}

.bg:nth-child(even) {
  /* @apply bg-gray-100; */

  background: rgb(240 253 244);
  background: linear-gradient(
    90deg,
    rgb(240 253 244 / 10%) 0%,
    #e6f2e6 31%,
    #e6f2e6 72%,
    rgba(240 253 244/ 10%) 100%
  );
}

.ellipses {
  max-width: 350px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipses-s {
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
